
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid  col-sm-9  mt-6 ">

    <div class="row g-0"> 
           <!--Section heading-->
            <h1>                                             </h1>
    <h2 class="h1-responsive font-weight-bold text-center my-4 align-content-center ">About us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
        E-Shop, Egypt's no. 1 online mall was established in July 2012 with the aim and vision 
        to become the one-stop shop in Egypt with implementation of best practices both online and offline.
        <p class=" text-center  "> E-Shop is the largest online mall store in Egypt.
        At inception we did an average delivery time of a week, today we do,on average, delivery in 1-5 days.
        Initially starting with 3 employees, 
        E-Shop presently has a staff strength of 350 young and entrepreneurial Egyptians.
        Deliveries to all cities in Egypt.</p>

        <h2 class="h1-responsive font-weight-bold text-center my-4 align-content-center ">Our Mission</h2>
        <p class=" text-center  ">
           To relentlessly build the most effortless & reliable online shopping environment, 
           providing customers with the widest range of genuine products at the best prices.</p>

           <h2 class="h1-responsive font-weight-bold text-center my-4 align-content-center ">Our Vision</h2>
        <p class=" text-center  ">
           Is building the most beloved and trusted shopping destination for Africans.</p>

              <p><img src="image/about.jpg" alt="Image" class="img-fluid"></p>

       
    </p>




</div>
</div>

