@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;


<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center"
        dir="@(System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.IsRightToLeft? "rtl" : "ltr")">
        <h2>@localizer["success"] </h2>
        <p>@localizer["log"] </p>
        <hr />
        <p>@localizer["thank"] </p>
    </div>
</div>