@using Jumia_MVC.Data.ViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@model ProfileModelVM


@{
   ViewData["titel"] = "userProfile";
}

<div class="row text g-0">
    <div class="col-md-10 offset-2 m-5 justify-content-center">
       <p>
            <h1 class="text-center orange">UserProfile:@Model.FullName</h1>
                    <h4 class="text-center ">Profile Settings</h4>
   
        </p>
        <div class="row g-2">
            <div class="col-md-8 offset-2">
                <form asp-action="UserProfile" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Id" />

                @*<div class="d-flex justify-content-between align-items-center mb-3 p-lg-3 ">
                    <h4 class="text-center ">Profile Settings</h4>
                </div>*@

               <div class="form-group align-self-xl-start  ">
                   @if(Model.Image != null)
                {
                    <img id="Profile" alt="Profile" class="profile-Picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.Image))" />
                }
                else{ 

                       <img id="Profile" alt="Profile" width="100px" height="100px" class="profile-Picture" src="~/image/Placeholder.png" />

                    }
                     <div class="custom-file mt-2">
                        <input  type="file"  accept="image/*"
                        asp-for="Image"
                        onchange="document.getElementById('Profile').src=window.URL.createObjectURL(this.files[0])"
                        class="custom-file-input" />
@*                        <label class="custom-file-lable" asp-for="Image">Choose Picture</label>
*@                         <span asp-validation-for="Image" class="text-danger"></span>

                     </div>
                  </div>
           
        

                <div class="form-group">
                 <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
                  </div>
            
            <div class="form-group">
                 <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

                <div class="form-group">
                 <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" maxlength=100 />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

              <div class="form-group">
                 <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" maxlength=1000 />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
           <div class="form-group">
                 <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" maxlength=14 />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        
        
                  <div class="form-group my-3">
                       <input type="submit" value=@localizer["Update" ] class="btn btn-outline-success float-right" />

                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function OK(){
    alert("Thank you , Your data was updated ");

}
</script>