@using Jumia_MVC.Data.ViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

@model ProfileModelVM


@{
   ViewData["titel"] = "userProfile";
}

<div class="row text">
    <div class="col-md-8 offset-2">
       <p>
            <h1>UserProfile:@Model.FullName</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Id" />

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>

               <div class="form-group">
                 <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle align-content-center" width="150">
                    <input type="file" id="btnUpload" value="Upload"/>
                
                 <span asp-validation-for="Image" class="text-danger"></span>
                  </div>
           
        

                <div class="form-group">
                 <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
                  </div>
            
            <div class="form-group">
                 <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

                <div class="form-group">
                 <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" maxlength=100 />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

              <div class="form-group">
                 <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" maxlength=1000 />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="Phone"></label>
                <input asp-for="Phone" class="form-control" maxlength=14 />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        
        
                  <div class="form-group my-3">
                      <input type="button" class="btn btn-outline-success float-right" value=@localizer["Update" ] onclick="OK()" />
                        
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
function OK(){
    alert("Thank you , Your data was updated ");

}
</script>