
@model Product
@*@using eTickets.Data;
*@ 
@{
    ViewData["Title"] = "Create a new Product";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Delete confirmation for @Model.Name</h1>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                     
                    <div class="form-group text-center">
                        <img id="ImageUrlPreview"  class="border-info " style="max-width: 150px" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control"  readonly  disabled/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control"readonly  disabled />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                               <div class="form-group">
                                <label asp-for="Old_Price" class="control-label"></label>
                                <input asp-for="Old_Price" type="number" class="form-control"readonly  disabled />
                                <span asp-validation-for="Old_Price" class="text-danger"></span>
                            </div>
                          
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <input asp-for="Image" class="form-control" readonly  disabled />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control"readonly  disabled asp-items="ViewBag.Category"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                                <div class="form-group">
                                <label asp-for="Quentity" class="control-label"></label>
                                <input asp-for="Quentity" type="number" readonly  disabled class="form-control" />
                                <span asp-validation-for="Quentity" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Discount" class="control-label"></label>
                                <input asp-for="Discount" type="number" readonly  disabled class="form-control" />
                                <span asp-validation-for="Discount" class="text-danger"></span>
                            </div>

                          
                        
                          
                           
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" readonly  disabled class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>
                    <div class="form-group text-center">
                        <img class="border-info" style="max-width: 150px" id="ImageUrlPreview" />
                    </div>

                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger float-right" />
                             <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>

                        </form>


            </div>
        </div>

    </div>
</div>


@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ImageUrlPreview');
            output.src = $("#Image").val();
        })
        $("#Image").on("change", function () {
            var output = document.getElementById('ImageUrlPreview');
            output.src = $(this).val();
        })
    </script>
}